
		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">
					
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
				



						<ul class="nav nav-primary">
							<li class="nav-item ">
								<a href="{% url 'index' %}">
									<i class="fas fa-map-marked"></i>
									<p class="text-danger">World Stats</p>
								</a>
							</li>
              <li class="nav-item">
                <div class="card p-3">
                  <div class="d-flex align-items-center">
                    <span class="stamp stamp-md bg-warning mr-3">
                      <i class="fa fa-users"></i>
                    </span>
                    <div>
                      <h5 class="mb-1"> World Total Cases </h5>
                      <small class="text-warning">
                        {{world_totals.total_cases}}
                      </small>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <div class="card p-3">
                  <div class="d-flex align-items-center">
                    <span class="stamp stamp-md bg-danger mr-3">
                      <i class="fa fa-users"></i>
                    </span>
                    <div>
                      <h5 class="mb-1"> World Total Deaths </h5>
                      <small class="text-danger">
                        {{world_totals.total_deaths}}
                      </small>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <div class="card p-3">
                  <div class="d-flex align-items-center">
                    <span class="stamp stamp-md bg-success mr-3">
                      <i class="fa fa-users"></i>
                    </span>
                    <div>
                      <h5 class="mb-1"> World Total Recovered </h5>
                      <small class="text-success">
                        {{world_totals.total_recovered}}
                      </small>
                    </div>
                  </div>
                </div>
              </li>

						</ul>
					


				</div>
			</div>
		</div>
		<!-- End Sidebar -->
