
{% extends "layouts/default.html" %}

{% block title %} World Stats {% endblock title %}

{% block content %}

  <div class="row">
        <div class="col-md-12">
            <div class="card card-transparent">
                <div class="card-header">
                    <h4 class="card-title text-center">
                        Corona Virus
                    </h4>
                </div>
                <div class="card-body">
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="mapcontainer">
                            <div id="map-example" class="vmap" style="height: 400px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>

  <div class="page-inner">
  <div class="page-header">
    <h4 class="page-title"> Corona Virus Details</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Countries Infected </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="basic-datatables" class="display table table-striped table-hover">
              <thead>
              <tr>
                <th> Country  </th>
                <th> Total Cases </th>
                <th> Total Deaths </th>
                <th> Total Recovered </th>
                <th> New Cases </th>
                <th> New Deaths </th>
                <th> Serious Critical</th>
                <th> Active Cases</th>
                <th> Total Cases Per 1M Pop.</th>
              </tr>
              </thead>
              <tbod>
                {% for corona in corona %}
                  <tr>
                    <th class="text-danger"><a href="{% url 'country_stat' corona.country_name %}">{{ corona.country_name }}</a></th>
                    <th><button class="btn btn-warning btn-sm">{{ corona.cases }}</button></th>
                    <th><button class="btn btn-danger btn-sm">{{ corona.deaths }}</button></th>
                    <th><button class="btn btn-success btn-sm">{{ corona.total_recovered }}</button></th>
                    <th><button class="btn {% if corona.new_cases != '0' %}btn-warning{% else %}btn-default{% endif %} btn-sm"> +{{ corona.new_cases }}</button></th>
                    <th><button class="btn {% if corona.new_deaths != '0' %}btn-danger{% else %}btn-default{% endif %} btn-sm"> +{{ corona.new_deaths }}</button></th>
                    <th>{{ corona.serious_critical }}</th>
                    <th>{{ corona.active_cases }}</th>
                    <th>{{ corona.total_cases_per_1m_population }}</th>
                  </tr>
                {% endfor %}
              </tbod>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


{% endblock %}

{% block javascripts %}
<script>
		$('#map-example').vectorMap(
		{
			map: 'world_en',
			backgroundColor: 'transparent',
			borderColor: '#fff',
			borderWidth: 2,
			color: '#e4e4e4',
			enableZoom: true,
			hoverColor: '#ee7b67',
			hoverOpacity: null,
			normalizeFunction: 'linear',
			scaleColors: ['#b6d6ff', '#005ace'],
			selectedColor: '#FF0000',
			selectedRegions: [
          {% for country_names in country_names %}
              '{{ country_names }}',
          {% endfor %}
            ],
			showTooltip: true,
			onRegionClick: function(element, code, region)
			{
				return false;
			},
			onResize: function (element, width, height) {
				console.log('Map Size: ' +  width + 'x' +  height);
			},
		});

		$(document).ready(function () {
      $('#basic-datatables').DataTable({
          "order": [[ 2, "desc" ]]
			});
    })
	</script>

{% endblock %}